*{
	box-sizing: border-box;
}
:root{
	--principal-color: #3366ff;
	--second-color:  rgb(139, 170, 255);
}
/*
 FONTS
*/
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Relugar.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
/*
	FIM
*/
a{
	color: white;
	text-decoration: none;
}
li{
	list-style-type: none;
}
body {
	background-color: black;
}


.navbar{
	position: relative;
}
.navbar .nav-items{
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 95vh;
	padding: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	transform: translateX(-100%);
	
	transition: 0.2s transform;
}
.navbar .nav-items .home{
	color: black;
	font-family: "Poppins", "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 2rem;
	transition: 0.5s all;
}
.navbar .nav-items .home:hover {
	color: var(--principal-color);
}
.button-nav {
	z-index: 1000;
	padding: 5px;
	position: fixed;
	top: 15px;
	right: 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}
.nav-items.clicked {
	transform: translateX(0%) !important;
}

.button-nav .btn-li{
	width:  25px;
	height: 3px;
	background-color: var(--principal-color);
	transition: 0.5s all;
}

/*.button-nav.clicked .btn-li.one{
	transform: rotate(45deg);
}
.button-nav.clicked .btn-li.two{
	transform: rotateZ(-45deg);
}
.button-nav.clicked .btn-li.three{
	transform: rotate(45deg);
}*/
.button-nav.clicked .btn-li.one{
	transform: rotate(45deg);
	display: none;
}
.button-nav.clicked .btn-li.two{
	transform: rotateZ(-45deg);
}
.button-nav.clicked .btn-li.three{
	transform: rotate(45deg) translateY(-5px) translateX(-5px);
}
.none {
	display: none;
}
.hr-container {
	max-width: 90%;
	margin: auto;
}
.hr {
  	border: 0; 
  	height: 1px; 
  	background-image: linear-gradient(to right, rgba(255, 255,255, 0.1), #ffff, #ffff, rgba(255, 255,255, 0.1));
}

.black { 
  	background-image: linear-gradient(to right, rgba(0, 0,0, 0.1), black, black, rgba(0, 0,0, 0.1));
}

.red { 
  	background-image: linear-gradient(to right, rgba(0, 0,0, 0.1), #ff0000, #ff0000, rgba(0, 0,0, 0.1));
}


.blue { 
  	background-image: linear-gradient(to right, rgba(0, 0,0, 0.1), var(--principal-color), var(--principal-color), rgba(0, 0,0, 0.1));
}

.container{
	width: min(200px) max(1400px);
	min-height: 80vh;
	max-height: auto;
}

.section-home {
	padding:  60px;
	background-color: black;
}

.logo{

	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3rem;
	text-align: center;
	color: white;
}

.logo span {
	color: var(--principal-color);
}
.title {
	font-size: 2.5rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	text-align: center;

	color: white;
	margin: 2rem 0;
}
.sub-title {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: white;
	font-size: 1.5rem;
	margin: 2rem 0;
}

.sub-title span, .title span {
	color: var(--principal-color);
}

.button-more {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--principal-color);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	width:  100%;
	max-width: 400px;
	height: 60px;
	border-radius: 5px;
	margin-top: 2rem;
	transition: 0.5s all;
}
.button-more:hover{
	font-weight: 700;
	scale: 1.1;
	border-bottom: 2px solid var(--second-color);
}
.test{
	margin: 10px auto;
	text-align: center;
}
.button-test {
	font-family: "Montserrat", sans-serif;
	border-bottom: 1px solid var(--principal-color);
}

/*			SECTION about		*/
.section-about {
	background-color: white;
	padding-top:  30px;
	padding-bottom:  30px;

}
.section-about .title{
	color: var(--principal-color);
	text-transform: uppercase;
}
.section-about .sub-title {
	font-size: 1.4rem;
	color: black;
}

.card-container {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 15px;
}

.card {
	margin: auto;
	width: 200px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
	padding: 10px 10px 20px 10px;
}

.card-con-img {
	margin:  0 auto;
	width: 100px;
	height:  100px;
	
	position: relative;
	
}
.card-img {
	width: 42px;
	height:  42px;
	position: absolute;
	top: 50%;
	left:  50%;
	transform: translateX(-50%);
}


.card-title{
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	line-height: 1.5rem;
	font-size: 1.2rem;
	text-align: center;
	color: var(--principal-color);
	text-transform: uppercase;
}

.card-desc {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 1.2rem;
	text-align: center;
	color: rgba(30,29,29,255);
}

/*					NEED US					*/
.section-need {
	background-color: rgba(30,29,29,255);
	padding:  20px 20px 40px 20px;
}

.section-need .title {
	text-align: left;
	letter-spacing: 1.5px;
}
.bene {
	margin: auto ;
	max-width: 300px;
}
.ben-li{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.ben-icon {
	color: var(--principal-color);
	font-size: 1.4rem;
}
.ben-icon img {
	width: 32px;
	height: 32px;
}
.ben-title {
	color: white;
	font-size: 0.8rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	line-height: 0.9rem;
	padding:  5px;
}

/*			PLANOS		*/
.section-plan {
	background-color: white;
	padding:  20px 20px 40px 20px;
}

.section-plan .title {
	color: black;
	background: none;
	border: none;
	font-size: 1.5rem;
}
.plans-container {
	width:  100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.plans-card {
	min-width: 100px;
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px;
}
.plans-click {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}
.plans-click, .plans-click > * {
	cursor: pointer;
	font-family: "Poppins", sans-serif;
}
.plans-db.closed {
	display: none !important;
}
.plans-db.opened {
	display: block !important;
}
.plans-click img{
	width: 16px;
	height: 16px;
}
.plans-click .card-image {
	content: url('../icons/angle_down.svg');
}
.plans-card .title {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px auto;
}
.plans-price {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-weight: 700;
	
}
.plans-price.reqs {
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
}
.plans-price.price {
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
}
.plans-card .button-more {
	border-radius: 0;
	height: 40px;
}
.plans-card .plans-db {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
.plans-card  .plans-db .plans-db-item {
	text-align: center;
}

/*				FOOTER				*/
.section-footer {
	padding: 20px 30px 40px 30px;
}
.section-footer .btn {
	display: block;
	text-align: center;
	font-size: 2rem;
}
.section-footer img{
	width: 64px;
	height: 64px;
}


/*			RESPONSIVIDADES			*/
@media only screen and (max-width: 250px) {
	.container {
		padding: 5px;
	}
	main > .logo, main > .title, section > .title{
		font-size: 1.2rem !important;
	}
	
}
@media only screen and (min-width: 450px) {
	.section-need .title {
		text-align: center;
	}

}

@media only screen and (min-width: 760px) {
	.nav-items .home {
		font-size: 1.5rem !important;
	}

}

